html, body {
    padding: 0;
    margin: 0;
}
* {
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.black {
    background-color: rgb(29, 81, 116);
}
.white {
    background-color: rgb(226, 226, 226);
}

.board-container {
    margin-left: 35vw;
    width: 30vw;
    height: 30vw;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.board-square {
    border: none;
}

.black-pieces {
    filter: invert(1);
}

img:hover {
    cursor: pointer;
}

.board-container img{
    border: none;
    height: 50px;
    width: 50px;
}